body {
	position: relative;
}

p {
	text-align: justify;
	text-justify: inter-word;
	margin: auto;
	max-width: 50vw;
}

.codeline {
	font-size: 1em;
	height: 3em !important;
	max-height: 3em !important;
	overflow-y: hidden;
	margin: auto;
	border-style: none;
}

h1 {
}

.codelinediv {
	display: inline-block;
	margin: auto;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%;
	height: auto;
}

input {
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}

#codelines {
	width: 80%;
	max-width: 80%;
	padding: 2em;
}

code {
	text-align: center;
	border: 0vh;
}

.mySlides {
	font-size: 1em;
	text-align: center;
	max-height: 99vh;
}

.long_text {
	max-width: 70vw;
	display: inline-block;
	overflow-y: scroll;
}

.image-gallery-container {
	overflow-y: scroll;
	max-height: 98vh;
}

.image-gallery {
	display: table;
}

.image-gallery img {
	height: 30vh;
}

.image-gallery-row {
	display: table-row;
}

.gallery-container {
	display: table-cell;
	margin: 1vw;
	position: relative;
}

.gallery-overlay {
	position: absolute;
	transition: .5s ease;
	bottom: 0;
	opacity:0;
	font-size: 5em;
	padding-left: 50%;
}

.image-unselected:hover .gallery-overlay {
	opacity: 0.2;
}

.image-selected .gallery-overlay {
	opacity: 1;
}

#progress-bar-div {
	position: absolute;
	display: block;
	width: 10%;
	left: 45%;
	transition: 0.3s;
	position: -webkit-sticky; /* Safari */
	z-index: 100;
}

.image-caption {
	position: absolute;
	width: 50%;
	top: 0;
	position: -webkit-sticky; /* Safari */
	text-align: left;
}
