/* Full credit https://codepen.io/fredericrous/pen/xxVXJYX
 */
.carousel {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 50vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	/*overflow: scroll;*/
	overflow-x: hidden;
	height: 70vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
	width: 60vw;
	margin: auto;
}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: inline-block;
	border-width: 0.1em;
	border-style: solid;
	font-size: 1em;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; /* Center the image */
	filter: opacity(1%);
	transition: filter 1s;
	overflow-y: scroll;
}

.activeli {
	filter: opacity(100%);
}
