code {
	display: none !important;
}

#reload_button {
	display: none !important;
}

#instructions_img {
	height: 30em;
	width: auto;
}

#target_plot_constant_div {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	z-index: 10;
}

#target_plot_constant_div figure {
	height: 30vh;
}

#target_plot_constant_divheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

ul {
	overflow-y: hidden;
}
